.calendar {
  width: 350px;
  border-radius: 8px;
  overflow: hidden;
}
.header {
  margin: 18px;
  display: flex;
  height: 25px;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  color: rgba(61, 61, 61, 1);
  font-size: 14;
  cursor: pointer;
}
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 6px;
  padding: 5px;
}
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  height: 7px;
  width: 10px;
  cursor: pointer;
}
.cal {
  color: rgba(223, 161, 40, 1);
}
.empty {
  background: transparent;
}
.selected {
  background: rgba(223, 161, 40, 1);
  color: white;
}
