.language-selector {
  position: relative;
  width: 200px;
}

.selected-language {
  gap: 6px;
  display: flex;
  align-items: center;

  color: black;
  cursor: pointer;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.flag {
  margin-right: 3px;
  height: 25px;
  width: 25px;
}
.flagImg {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.submenu {
  position: absolute;
  top: 100%;
  left: -60px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
  width: 115px;
  border-radius: 10px;
}

.menu-item {
  margin: 8px 7px;
  border-radius: 10px;
  padding: 5px;
  color: black;
  cursor: pointer;
  height: 20px;
}

.menu-item:hover {
  background-color: #f0f0f0;
}

.menu-item.active {
  background-color: rgba(223, 161, 40, 1);
  color: white;
}
